In [1]:
import pandas as pd
from datetime import timedelta
import matplotlib.pyplot as plt
items = pd.read_csv("data/items.csv", sep="|")
infos = pd.read_csv("data/infos.csv", sep="|")
orders = pd.read_csv("data/orders.csv", sep="|")

train = pd.read_csv('data/trainNew.csv')

In [4]:
train

,Unnamed: 0,itemID,weekNumber,order|sum,salesPrice|sum,salesPrice|mean,salesPrice|std,simulationPrice,promotion,brand,manufacturer,customerRating,category1,category2,category3,recommendedRetailPrice
0,0,1,1,2,6.22,3.11,0.0,3.43,NaN,0,1,4.38,1,1,1,8.84
1,1,1,2,314,811.71,3.11,0.0,3.43,NaN,0,1,4.38,1,1,1,8.84
2,2,1,3,35,99.52,3.11,0.0,3.43,NaN,0,1,4.38,1,1,1,8.84
3,3,1,4,2,6.22,3.11,0.0,3.43,NaN,0,1,4.38,1,1,1,8.84
4,4,1,5,1,3.11,3.11,NaN,3.43,NaN,0,1,4.38,1,1,1,8.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39951,39951,10450,12,6,266.88,44.48,0.0,44.43,2018-07-10,182,227,0.00,8,44,8,36.78
39952,39952,10459,8,1,14.71,14.71,NaN,14.71,NaN,180,253,0.00,8,44,8,56.57
39953,39953,10460,7,1,325.67,325.67,NaN,325.67,NaN,0,253,0.00,8,44,8,163.81
39954,39954,10462,7,1,304.30,304.30,NaN,304.30,NaN,180,253,0.00,8,44,8,166.97
39955,39955,10463,10,1,282.16,282.16,NaN,282.16,NaN,0,253,0.00,8,44,8,154.82

In [2]:
orders["time"] = pd.to_datetime(orders["time"])
orders["weekNumber"] = -1
for i in range(0,13):
    orders["weekNumber"][(orders["time"] > (pd.to_datetime("2018-01-01") + timedelta(days=(14*i)))) & (orders["time"] < (pd.to_datetime("2018-01-01") + timedelta(days=(14*(i+1)))))] = i

In [3]:
gp = orders.groupby(["itemID"]).agg({"order": "sum", "salesPrice": ["sum", "mean", "std"]})

In [4]:
len(gp)

9840

In [5]:
len(items)

10463

Here we can see that we have a lot of items that are not being selled. These items are new? Lets take a look on the data splitted into two weeks:

In [6]:

t2w = pd.read_csv("data/train2weeksWithOrder.csv")

In [7]:
t2w

,itemID,weekNumber,order|sum,salesPrice|sum,salesPrice|mean,salesPrice|std
0,1,1,2,6.22,3.11,0.0
1,1,2,314,811.71,3.11,0.0
2,1,3,35,99.52,3.11,0.0
3,1,4,2,6.22,3.11,0.0
4,1,5,1,3.11,3.11,NaN
...,...,...,...,...,...,...
39951,10450,12,6,266.88,44.48,0.0
39952,10459,8,1,14.71,14.71,NaN
39953,10460,7,1,325.67,325.67,NaN
39954,10462,7,1,304.30,304.30,NaN
39955,10463,10,1,282.16,282.16,NaN

In [ ]:
gp = t2w.merge(infos, on="itemID", how="left")